@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: #fff;
}
 *::selection{
    background-color: #fff;
    color: #95c11e;
 }
body{
    box-sizing: border-box;
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    /* perspective: 800px; */
}

body::-webkit-scrollbar{
    display: none;
}
#nav{
    height: 145px;
    width: 100%;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    z-index: 99;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;

}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
     position: relative;
     background-color: rgb(0, 0, 0, 0.4);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page1 h1{
    font-size: 140px;
    font-weight: bolder;
    position: relative;
}

#page1 h1::before{
    content: "Vinay Bhoure";
    position: absolute;
    top: -6px;
    left: -6px;
    color: black;
    -webkit-text-stroke: 1px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0px 20px 0px;
}

#page1 p{
    font-size: 18px;
    font-weight: 400;
    width: 40%;
    z-index: 10;
}

#page1 #arrow {
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 2px solid #95c11e;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
    z-index: 10;
  }
#page1 #arrow i {
    font-size: 50px;
    font-weight: 100;
  }

#page1 #arrow:hover {
    scale: 0.4;
    background-color: #95c11e;
    border: 2px solid #fff;
  }

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
    z-index: 10;
    position: relative;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #95c11e;
    position: fixed;
    z-index: 99;
}

#cursor-b{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #96c11e3f;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-y: auto;
    overflow-y: hidden;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll ;
    animation-iteration-count: infinite;
    animation-duration: 18s;
    animation-timing-function: linear;
}
#scroller h4{
    display: inline-block;
    font-family: gilroy;
    font-size: 120px;
    font-weight: 900;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;

}

#scroller h4:hover{
    color: #95c11e;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#about-us-in{
    width: 70%;
    text-align: center;
}

#about-us-in h3{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us-in p{
    font-size: 20px;
    line-height: 26px;

}

#cards-container{

    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 24%;
    background-color: blue;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all linear 0.3s;
}

#card-1{
    background-image: url();
}
#card-1{
    background-image: url();
}
#card-1{
    background-image: url();
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding-top: 110px;
    padding-inline: 30px;
    opacity: 0;
    transition: all linear 0.3s;
}

.overlay h3{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 20px;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,30deg);
}

#green-div{
    height: 30vh;
    width: 100%;
    /* background-color: #95c11e; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(85,193,30);
    background: linear-gradient(51deg, rgba(85,193,30,1) 0%, rgba(71,138,2,1) 38%, rgba(2,138,107,1) 100%);
    z-index: 10;
}

#green-div h4{
    width: 45%;
    color: #000;
    line-height: 33px;
    font-size: 27px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    width: 15%;
    object-fit: cover;
}

#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

#page3>p{
    width: 60%;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    z-index: 10;
}

#page3 img{
    position:absolute;
    height: 60px;
}

#page3 #colon1{
    top: 20%;
    left: 20%;
}

#page3 #colon2{
    right: 20%;
    bottom: 20%;
}

#page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem{
    height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2{
    height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
  }
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
  .elem:hover img {
    scale: 1;
  }

  #page4 h1{
    position: absolute;
    top: -11%;
    font-size: 75px;
    font-weight: 900;
    color: #000;
    font-family: gilroy;
    -webkit-text-stroke: 1px #fff;
  }

  #footer{
    height: 50vh;
    width: 100%;
    background: rgb(85,193,30);
    background: linear-gradient(51deg, rgba(85,193,30,1) 0%, rgba(71,138,2,1) 38%, rgba(2,138,107,1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer h1{
    font-size: 80px;
    font-weight: 900;
    font-family: gilroy;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    z-index: 10;
    transition: all linear 0.2s;
  }
  #footer h1:hover{
    color: #fff;
  }